nodered_fluxo_MotoVision.json
[
  {
    "id": "mqtt_in_A",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor A",
    "topic": "patio/setor/A/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 200,
    "wires": [
      [
        "json_A"
      ]
    ]
  },
  {
    "id": "json_A",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 200,
    "wires": [
      [
        "text_A",
        "gauge_A",
        "chart_A"
      ]
    ]
  },
  {
    "id": "text_A",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Status A",
    "label": "Setor A",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 180,
    "wires": []
  },
  {
    "id": "gauge_A",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor A - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 220,
    "wires": []
  },
  {
    "id": "chart_A",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor A",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#00FF00"
    ],
    "outputs": 1,
    "x": 470,
    "y": 260,
    "wires": []
  },
  {
    "id": "mqtt_in_B",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor B",
    "topic": "patio/setor/B/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 340,
    "wires": [
      [
        "json_B"
      ]
    ]
  },
  {
    "id": "json_B",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 340,
    "wires": [
      [
        "text_B",
        "gauge_B",
        "chart_B"
      ]
    ]
  },
  {
    "id": "text_B",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Status B",
    "label": "Setor B",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 320,
    "wires": []
  },
  {
    "id": "gauge_B",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor B - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 360,
    "wires": []
  },
  {
    "id": "chart_B",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 2,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor B",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#0000FF"
    ],
    "outputs": 1,
    "x": 470,
    "y": 400,
    "wires": []
  },
  {
    "id": "mqtt_in_C",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor C",
    "topic": "patio/setor/C/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 480,
    "wires": [
      [
        "json_C"
      ]
    ]
  },
  {
    "id": "json_C",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 480,
    "wires": [
      [
        "text_C",
        "gauge_C",
        "chart_C"
      ]
    ]
  },
  {
    "id": "text_C",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Status C",
    "label": "Setor C",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 460,
    "wires": []
  },
  {
    "id": "gauge_C",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor C - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 500,
    "wires": []
  },
  {
    "id": "chart_C",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor C",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#FFFF00"
    ],
    "outputs": 1,
    "x": 470,
    "y": 540,
    "wires": []
  },
  {
    "id": "mqtt_in_D",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor D",
    "topic": "patio/setor/D/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 620,
    "wires": [
      [
        "json_D"
      ]
    ]
  },
  {
    "id": "json_D",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 620,
    "wires": [
      [
        "text_D",
        "gauge_D",
        "chart_D"
      ]
    ]
  },
  {
    "id": "text_D",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Status D",
    "label": "Setor D",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 600,
    "wires": []
  },
  {
    "id": "gauge_D",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor D - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 640,
    "wires": []
  },
  {
    "id": "chart_D",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor D",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#FFA500"
    ],
    "outputs": 1,
    "x": 470,
    "y": 680,
    "wires": []
  },
  {
    "id": "mqtt_in_E",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor E",
    "topic": "patio/setor/E/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 760,
    "wires": [
      [
        "json_E"
      ]
    ]
  },
  {
    "id": "json_E",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 760,
    "wires": [
      [
        "text_E",
        "gauge_E",
        "chart_E"
      ]
    ]
  },
  {
    "id": "text_E",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Status E",
    "label": "Setor E",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 740,
    "wires": []
  },
  {
    "id": "gauge_E",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 5,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor E - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 780,
    "wires": []
  },
  {
    "id": "chart_E",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor E",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#CCCCCC"
    ],
    "outputs": 1,
    "x": 470,
    "y": 820,
    "wires": []
  },
  {
    "id": "mqtt_in_F",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor F",
    "topic": "patio/setor/F/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 900,
    "wires": [
      [
        "json_F"
      ]
    ]
  },
  {
    "id": "json_F",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 900,
    "wires": [
      [
        "text_F",
        "gauge_F",
        "chart_F"
      ]
    ]
  },
  {
    "id": "text_F",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "Status F",
    "label": "Setor F",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 880,
    "wires": []
  },
  {
    "id": "gauge_F",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor F - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 920,
    "wires": []
  },
  {
    "id": "chart_F",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 6,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor F",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#FF0000"
    ],
    "outputs": 1,
    "x": 470,
    "y": 960,
    "wires": []
  },
  {
    "id": "mqtt_in_G",
    "type": "mqtt in",
    "z": "fluxo_motopatio",
    "name": "Setor G",
    "topic": "patio/setor/G/contagem",
    "broker": "mqtt_hivemq",
    "x": 120,
    "y": 1040,
    "wires": [
      [
        "json_G"
      ]
    ]
  },
  {
    "id": "json_G",
    "type": "json",
    "z": "fluxo_motopatio",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 280,
    "y": 1040,
    "wires": [
      [
        "text_G",
        "gauge_G",
        "chart_G"
      ]
    ]
  },
  {
    "id": "text_G",
    "type": "ui_text",
    "z": "fluxo_motopatio",
    "group": "grp_status",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "Status G",
    "label": "Setor G",
    "format": "{{msg.payload.status}}",
    "layout": "row-spread",
    "x": 470,
    "y": 1020,
    "wires": []
  },
  {
    "id": "gauge_G",
    "type": "ui_gauge",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_gauges",
    "order": 7,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Setor G - Qtd",
    "label": "motos",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": [
      "#00FF00",
      "#FFFF00",
      "#FF0000"
    ],
    "seg1": "",
    "seg2": "",
    "x": 460,
    "y": 1060,
    "wires": []
  },
  {
    "id": "chart_G",
    "type": "ui_chart",
    "z": "fluxo_motopatio",
    "name": "",
    "group": "grp_chart",
    "order": 7,
    "width": 0,
    "height": 0,
    "label": "Hist\u00f3rico Setor G",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sem dados",
    "ymin": "0",
    "ymax": "10",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#000000"
    ],
    "outputs": 1,
    "x": 470,
    "y": 1100,
    "wires": []
  },
  {
    "id": "grp_status",
    "type": "ui_group",
    "name": "Status dos Setores",
    "tab": "tab_patio",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "grp_gauges",
    "type": "ui_group",
    "name": "Quantidade por Setor",
    "tab": "tab_patio",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "grp_chart",
    "type": "ui_group",
    "name": "Hist\u00f3rico",
    "tab": "tab_patio",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "tab_patio",
    "type": "ui_tab",
    "name": "MotoP\u00e1tio",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "mqtt_hivemq",
    "type": "mqtt-broker",
    "name": "broker.hivemq.com",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "NodeRedMotoPatio",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  }
]